
@{
    ViewBag.Title = "GioHang";
}

<section class="bread-crumb">
    <div class="container">
        <ul class="breadcrumb">
            <li class="home">
                <a href="/"><span>Trang chủ</span></a>
                <span class="mr_lr">&nbsp;<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-chevron-right fa-w-10"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z" class=""></path></svg>&nbsp;</span>
            </li>

            <li>
                <strong><span>Giỏ hàng</span></strong>
                <span class="mr_lr">&nbsp;<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-chevron-right fa-w-10"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z" class=""></path></svg>&nbsp;</span>
            </li>
            
        </ul>
    </div>

</section>

<div class="product">
    <div class="container"">
        <div class="row-product border-none">
            <div class="cart-header-info">
                <div>Thông tin sản phẩm</div><div>Đơn giá</div><div>Số lượng</div><div>Thành tiền</div>
            </div>

            <div class="cart-product">
                <div class="cart-row">
                    <div class="cart-image">
                        <img src="@Url.Content("~/Image/" + Model.pic_name)" alt="product image" />
                    </div>

                    <div class="cart-info">
                        <div class="cart-info-name"><span class="cart-name">@Model.product_name</span></div>
                        <div class="grid">
                            <span class="cart-price">@Model.price ₫</span>

                        </div>
                        <div class="grid">
                            <div class="grid__item one-half cart_select">
                                <div class="ajaxcart__qty input-group-btn">
                                    <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--minus items-count" data-id="" data-qty="0" data-line="1" aria-label="-">
                                        -
                                    </button>
                                    <input type="text" name="updates[]" class="ajaxcart__qty-num number-sidebar" maxlength="3" value="1" min="0" data-id="" data-line="1" aria-label="quantity" pattern="[0-9]*">
                                    <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--plus items-count" data-id="" data-line="1" data-qty="2" aria-label="+">
                                        +
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="grid">
                            <span class="cart-price">@Model.price ₫</span>

                        </div>
                    </div>
                </div>
            </div>

            <div class="cart-footer">
                <div class="as">

                </div>
                <div class="ajaxcart-footer">
                    <div class="ajaxcart-footer-price">
                        <span class="cart-price">Tổng tiền : @Model.price ₫</span>
                    </div>
                    <div class="ajaxcart-footer-price">
                        <div class="pull-xs-left">
                            <input class="bt" type="submit" value="Thanh toán">
                           
                        </div>
                    </div>
                </div>
                </div>
        </div>
    </div>
</div>