
@{
    ViewBag.Title = "HienThiSanPhamTheoDM";
}

@using Newtonsoft.Json
@{ int count = 0;
    int count1 = 0;
}
<div class="overlay"></div>
<div class="add-product">
    <p><span style="color:#ef4339;">Thêm mới</span></p>
    <fieldset class="form-group">
        <label for="category">Danh mục<span class="error">*</span></label>

        <select name="category_add" id="category_add" class="form-control form-control-lg">
            <option value="">Chọn danh mục</option>
            @foreach (var itemcategory in Model.categorysubcategory)
            {
                <option value="@itemcategory.category.category_id">@itemcategory.category.category_name</option>
            }
        </select>
    </fieldset>
    <fieldset class="form-group">
        <label for="subcategory">Lọa sản phẩm<span class="error">*</span></label>
        <select name="subcategory_add" id="subcategory_add" class="form-control form-control-lg">
            <option value="">Chọn loại sản phẩm</option>
        </select>
    </fieldset>
    <fieldset class="form-group">
        <label for="name_product">Tên sản phẩm<span class="error">*</span></label>
        <input type="text" name="name" id="name" required="" class="form-control form-control-lg">
    </fieldset>
    <fieldset class="form-group">
        <label for="img_product">Ảnh<span class="error">*</span></label>
        <input type="file" name="img_product" id="img_product" accept="image/*" required class="form-control form-control-lg">
        <img id="preview_image" src="#" alt="Preview image" style="display:none; width: 100px; height: 100px; margin-top: 10px;">
    </fieldset>
    <fieldset class="form-group">
        <label for="price">Giá<span class="error">*</span></label>
        <input type="text" name="price" id="price" required="" class="form-control form-control-lg">
    </fieldset>
    <fieldset class="form-group">
        <label for="quantity">Số lượng<span class="error">*</span></label>
        <input type="text" name="quantity" id="quantity" required="" class="form-control form-control-lg">
    </fieldset>


    <button class="button bt-add-product-manager btn-edit-addr btn btn-primary btn-more" type="submit"><i class="hoverButton"></i>Thêm</button>
</div>

<div class="change-product-manager">
    <p class="p-change-product"><span style="color:#ef4339;">Chỉnh sửa</span></p>
    <fieldset class="form-group">
        <label for="category_change">Danh mục<span class="error">*</span></label>

        <select name="category_change" id="category_change" class="form-control form-control-lg">
            <option value="">Chọn danh mục</option>
            @foreach (var itemcategory in Model.categorysubcategory)
            {
                <option value="@itemcategory.category.category_id">@itemcategory.category.category_name</option>
            }
        </select>
    </fieldset>
    <fieldset class="form-group">
        <label for="subcategory_change">Lọai sản phẩm<span class="error">*</span></label>
        <select name="subcategory_change" id="subcategory_change" class="form-control form-control-lg">
            <option value="">Chọn loại sản phẩm</option>
        </select>
    </fieldset>
    <fieldset class="form-group">
        <label for="name_product">Tên sản phẩm<span class="error">*</span></label>
        <input type="text" name="name_product" id="name_product" required="" class="form-control form-control-lg">
    </fieldset>
    <fieldset class="form-group">
        <label for="img_product">Ảnh<span class="error">*</span></label>
        <input type="file" name="img_product" id="img_product" accept="image/*" required class="form-control form-control-lg">
        <img id="preview_image" src="#" alt="Preview image" style="display:none; width: 100px; height: 100px; margin-top: 10px;">
    </fieldset>
    <fieldset class="form-group">
        <label for="price_product">Giá<span class="error">*</span></label>
        <input type="text" name="price_product" id="price_product" required="" class="form-control form-control-lg">
    </fieldset>
    <fieldset class="form-group">
        <label for="quantity_product">Số lượng<span class="error">*</span></label>
        <input type="text" name="quantity_product" id="quantity_product" required="" class="form-control form-control-lg">
    </fieldset>


    <button class="button btnchangeproduct btn-edit-addr btn btn-primary btn-more" type="submit"><i class="hoverButton"></i>Chỉnh sửa</button>
</div>
<div class="list-product-manager">
    <div class="product-title">
        <div class="product-item-title">
            <p>Tên sản phẩm</p>
        </div>
        <div class="product-item-title">
            <p>Mã sản phẩm</p>
        </div>
        <div class="product-item-title">
            <p>Số lượng</p>
        </div>
        <div class="product-item-title">
            <p>Giá bán</p>
        </div>
        <div class="product-item-title">
            <button class="bt-add-product" type="submit"><i class="hoverButton"></i>Tạo mới</button>
        </div>
    </div>
</div>
@foreach (var item in Model.products)
{
    if (count >= 6)
    {
        break;
    }
    <div class="list-product-manager">
        <div class="product-title">
            <div class="product-item-title" style="justify-content: left; ">
                <p class="font-weight color-p" style="margin-left:10px;">@item.product_name</p>
            </div>
            <div class="product-item-title">
                <p class="font-weight">@item.product_id</p>
            </div>
            <div class="product-item-title">
                <p class="font-weight">@item.quantity</p>
            </div>
            <div class="product-item-title">
                <p class="font-weight">@item.price</p>
            </div>
            <div class="product-item-title">
                <svg class="bt-change-product-manager" xmlns="http://www.w3.org/2000/svg" width="41" height="40" viewBox="0 0 41 40" fill="none"
                      data-id="@item.product_id"
                            data-name="@item.product_name"
                            data-pic="@item.pic_name"
                            data-descriptions="@item.descriptions"
                            data-price="@item.price"
                            data-quantity="@item.quantity"
                            data-userid="@item.users_id"
                            data-categoryid="@item.category_id"
                            data-subcategoryid="@item.subcategory_id">
                    <path d="M13 7H7V5H13V7Z" fill="currentColor" />
                    <path d="M13 11H7V9H13V11Z" fill="currentColor" />
                    <path d="M7 15H13V13H7V15Z" fill="currentColor" />
                    <path fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M3 19V1H17V5H21V23H7V19H3ZM15 17V3H5V17H15ZM17 7V19H9V21H19V7H17Z"
                          fill="currentColor" />
                </svg>
                <svg class="bt-delete-product-manager" xmlns="http://www.w3.org/2000/svg" width="41" height="40" viewBox="0 0 41 40" fill="none"
                     data-id="@item.product_id">
                    <path fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M17 5V4C17 2.89543 16.1046 2 15 2H9C7.89543 2 7 2.89543 7 4V5H4C3.44772 5 3 5.44772 3 6C3 6.55228 3.44772 7 4 7H5V18C5 19.6569 6.34315 21 8 21H16C17.6569 21 19 19.6569 19 18V7H20C20.5523 7 21 6.55228 21 6C21 5.44772 20.5523 5 20 5H17ZM15 4H9V5H15V4ZM17 7H7V18C7 18.5523 7.44772 19 8 19H16C16.5523 19 17 18.5523 17 18V7Z"
                          fill="currentColor" />
                    <path d="M9 9H11V17H9V9Z" fill="currentColor" />
                    <path d="M13 9H15V17H13V9Z" fill="currentColor" />
                </svg>
            </div>
        </div>
    </div>
    count++;
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
     $(document).ready(function () {
        // Khi thay đổi category, load danh sách subcategory
        $('#category_add').change(function () {
            var selectedCategoryId = $(this).val();
            var selectedCategory = @Html.Raw(JsonConvert.SerializeObject(Model.categorysubcategory));

            $('#subcategory_add').empty(); // Clear subcategories
            $('#subcategory_add').append('<option value="">Chọn loại sản phẩm</option>'); // Add default option

            // Tìm category được chọn và load các subcategory tương ứng
            var category = selectedCategory.find(c => c.category.category_id == selectedCategoryId);
            console.log("đa", category);
            if (category) {
                category.subcategory.forEach(function (sub) {
                    $('#subcategory_add').append('<option value="' + sub.subcategory_id + '">' + sub.subcategory_name + '</option>');
                });
            }
        });
     });

    $(document).ready(function () {
        $(".bt-add-product-manager").click(function (event) {
            event.preventDefault(); // Ngăn form tự động submit

            var formData = new FormData();

            // Lấy tệp ảnh
            var fileInput = $("#img_product")[0];
            var file = fileInput.files[0];

            if (file) {
                formData.append("img_product", file);
            }

            var product = {
                product_name: $("#name").val(),
                pic_name: file ? file.name : '', // Nếu có file, sử dụng tên của file
                descriptions: null,
                price: $("#price").val(),
                quantity: $("#quantity").val(),
                category_id: $("#category_add").val(),
                subcategory_id: $("#subcategory_add").val() // Đảm bảo lấy đúng id subcategory
            };

            // Thêm thông tin sản phẩm vào formData
            formData.append("product", JSON.stringify(product));

            $.ajax({
                url: '/Manager/ThemSanPham',
                type: 'POST',
                processData: false,
                contentType: false,
                data: formData,
                success: function (response) {
                    alert("Thêm sản phẩm thành công!");
                    $('.add-product').hide();
                    $('.overlay').hide();
                    $('body').removeClass('no-scroll');
                    loadAction();
                },
                error: function (xhr, status, error) {
                    console.log("Có lỗi xảy ra: " + error);
                }
            });
        });
        function loadAction() {
            console.log("Loading action...");
            $.ajax({
                url: '/Manager/HienThiSanPhamTheoDM',
                type: 'GET',
                success: function (response) {
                    console.log("Received response for loading action.");
                    $('.form-list-product-manager').html(response);
                    console.log("Action loaded.");
                },
                error: function () {
                    alert('Không thể tải sản phẩm.');
                }
            });
        }
    });
    $(document).ready(function () {
        // Khi nhấn vào nút Thêm mới
        $('.bt-add-product').click(function () {
            $('.add-product').show(); // Hiển thị form thêm sản phẩm
            $('.overlay').show(); // Hiển thị lớp overlay mờ
            $('body').addClass('no-scroll'); // Ngăn cuộn trang
        });

        // Khi nhấn vào overlay (vùng mờ xung quanh), ẩn form thêm sản phẩm
        $('.overlay').click(function () {
            $('.add-product').hide();
            $('.overlay').hide();
            $('body').removeClass('no-scroll');
        });
    });
    $(document).ready(function () {
        // Khi nhấn vào nút Thêm mới
        $('.bt-change-product-manager').click(function () {
            $('.change-product-manager').show(); // Hiển thị form thêm sản phẩm
            $('.overlay').show(); // Hiển thị lớp overlay mờ
            $('body').addClass('no-scroll'); // Ngăn cuộn trang

            var Id = $(this).data("id");
            var name = $(this).data('name');
            var pic = $(this).data('pic');
            var descriptions = $(this).data('descriptions');
            var price = $(this).data('price');
            var quantity = $(this).data('quantity');

            var categoryid = $(this).data('categoryid');
            var subcategoryid = $(this).data('subcategoryid');
            $('#name_product').val(name);
            $('#price_product').val(price);
            $('#quantity_product').val(quantity);
            $('#category_change').val(categoryid);
            $('#category_change').change(function () {
                var selectedCategoryId = $(this).val();
                var selectedCategory = @Html.Raw(JsonConvert.SerializeObject(Model.categorysubcategory));

                console.log('Selected Category ID:', selectedCategoryId);
                console.log('Category Data:', selectedCategory);

                $('#subcategory_change').empty(); // Xóa các option trước
                $('#subcategory_change').append('<option value="">Chọn loại sản phẩm</option>'); // Option mặc định

                // Tìm category đã chọn và load subcategories
                var category = selectedCategory.find(c => c.category.category_id == selectedCategoryId);
                if (category) {
                    category.subcategory.forEach(function (sub) {
                       $('#subcategory_change').append('<option value="' + sub.subcategory_id + '">' + sub.subcategory_name + '</option>');
                     });
                } else {
                console.log('Không tìm thấy subcategory cho category này.');
                 }
            }).trigger('change');
            $('#subcategory_change').val(subcategoryid);
            $(".btnchangeproduct").on("click", function (e) {
                e.preventDefault();

                var product = {
                    product_id: Id,
                    product_name: $("#name_product").val(),
                    pic_name: pic,
                    descriptions: descriptions,
                    price: $("#price_product").val(),
                    quantity: $("#quantity_product").val(),

                    category_id: $("#category_change").val(),
                    subcategory_id: $("#subcategory_change").val()
                };
                console.log(product);
                $.ajax({
                    url: '/Manager/ChinhSuaProduct',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(product),
                    success: function (response) {
                        console.log("Response từ server:", response);
                        alert("Chỉnh sửa tài khoản thành công!");
                        $('.change-product-manager').hide();
                        $('.overlay').hide();
                        $('body').removeClass('no-scroll');
                        loadAction();

                    },
                    error: function (xhr, status, error) {
                        console.log("Có lỗi xảy ra: " + error);
                    }
                });
            });

        });


        // Khi nhấn vào overlay (vùng mờ xung quanh), ẩn form thêm sản phẩm
        $('.overlay').click(function () {
            loadAction();
        });
        function loadAction() {
            console.log("Loading action...");
            $.ajax({
                url: '/Manager/HienThiSanPhamTheoDM',
                type: 'GET',
                success: function (response) {
                    console.log("Received response for loading action.");
                    $('.form-list-product-manager').html(response);
                    console.log("Action loaded.");
                },
                error: function () {
                    alert('Không thể tải sản phẩm.');
                }
            });
        }
    });


    $(document).ready(function () {
        // Sự kiện xóa sản phẩm
        $(document).off('click', '.bt-delete-product-manager');
        $(document).on('click', '.bt-delete-product-manager', function () {
            var Id = $(this).data("id");
            console.log(Id);
            var confirmDelete = confirm("Bạn có chắc chắn muốn xóa sản phẩm này không?");
            if (confirmDelete) {
                $.ajax({
                    url: '/Manager/XoaProduct',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ id: Id }),
                    success: function (response) {
                        if (response.success) {
                            alert(response.message);
                            // Thay vì tải lại toàn bộ trang, chỉ cần tải lại danh sách sản phẩm
                            loadAction(); // Tải lại danh sách sản phẩm
                        } else {
                            alert(response.message);
                        }
                    },
                    error: function (xhr, status, error) {
                        console.log("Có lỗi xảy ra: " + error);
                    }
                });
            } else {
                console.log("Người dùng đã hủy bỏ hành động xóa.");
            }
        });

        // Hàm loadAction để tải lại danh sách sản phẩm (đã có ở script Index)
        function loadAction() {
            $.ajax({
                url: '/Manager/HienThiSanPhamTheoDM',
                type: 'GET',
                success: function (response) {
                    $('.form-list-product-manager').html(response);
                },
                error: function () {
                    alert('Không thể tải sản phẩm.');
                }
            });
        }

    });

    $(document).ready(function () {
        $("#img_product").on("change", function (event) {
            var file = event.target.files[0];
            if (file) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $("#preview_image").attr("src", e.target.result).show();
                };

                reader.readAsDataURL(file);
            } else {
                $("#preview_image").hide();
            }
        });
    });

</script>
