
@{
    ViewBag.Title = "Taikhoan";
}

<section class="bread-crumb">
    <div class="container">
        <ul class="breadcrumb">
            <li class="home">
                <a href="/"><span>Trang chủ</span></a>
                <span class="mr_lr">&nbsp;<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-chevron-right fa-w-10"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z" class=""></path></svg>&nbsp;</span>
            </li>

            <li>
                <strong><span>Tài khoản của bạn</span></strong>

            </li>

        </ul>0
    </div>

</section>
<div class="section-login-signup">
    <div class="container">
        <div class="row">
            <div class="account-page box-shadow">
                <div class="block-account">
                    <h5 class="title-account">Trang tài khoản</h5>

                    <p>Xin chào, <span style="color:#ef4339;">&nbsp; @Model.full_name</span>&nbsp;!</p>
                    @if (Model.role_id == 1)
                    {
                        <ul>
                            <li>
                                <a class="title-info selected selected-info" href="" data-id="@Model.users_id">Thông tin tài khoản</a>
                            </li>
                           
                            <li>
                                <a class="title-info selected-change-password" data-id="@Model.users_id" href="">Đổi mật khẩu</a>
                            </li>
                            <li>
                                <a  href="/Manager/Index">Giao diện quản lý</a>
                            </li>
                           
                        </ul>
                    }
                    @if (Model.role_id == 3)
                    {
                        <ul>
                            <li>
                                <a class="title-info selected selected-info" href="" data-id="@Model.users_id">Thông tin tài khoản</a>
                            </li>
                            <li>
                                <a class="title-info selected-order-info" href="" data-id="@Model.users_id">Đơn hàng của bạn</a>
                            </li>
                            <li>
                                <a class="title-info selected-change-password" data-id="@Model.users_id" href="">Đổi mật khẩu</a>
                            </li>
                           
                        </ul>
                    }

                </div>
            </div>
            <div class="account-info">

            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">



    $(document).ready(function () {
        // Gắn sự kiện click cho các liên kết có class "title-info"
        $('.title-info').on('click', function (e) {
            // Ngăn chặn hành vi mặc định (nếu cần)
            e.preventDefault();

            // Loại bỏ class "selected" khỏi tất cả các liên kết
            $('.title-info').removeClass('selected');

            // Thêm class "selected" vào liên kết được nhấp
            $(this).addClass('selected');
        });
    });



    $(document).ready(function () {
        var defaultId = $('.selected-info').first().data('id');
        $.ajax({

                url: '@Url.Action("ThongTinTaiKhoan", "Account")',
                type: 'GET',
                data: { id: defaultId },
                success: function (response) {
                    $('.account-info').html(response);
                },
                error: function () {
                    alert('Không thể tải sản phẩm.');
                }
            });

        $('.selected-info').on('click', function (e) {
            e.preventDefault();
            var Id = $(this).data('id');;
            $.ajax({
                url: '@Url.Action("ThongTinTaiKhoan", "Account")',
                type: 'GET',
                data: { id: Id },
                success: function (response) {
                    $('.account-info').html(response);
                },
                error: function () {
                    alert('Không thể tải sản phẩm.');
                }
            });

        });
   });

    $(document).ready(function () {

        $('.selected-order-info').on('click', function (e) {
            e.preventDefault();
            var Id = $(this).data('id');;
            $.ajax({
                url: '@Url.Action("DonHang", "Products")',
                type: 'GET',
                data: { user_id: Id },
                success: function (response) {
                    $('.account-info').html(response);
                },
                error: function () {
                    alert('Không thể tải sản phẩm.');
                }
            });

        });
    });
     $(document).ready(function () {

         $('.selected-change-password').on('click', function (e) {
            e.preventDefault();
            var Id = $(this).data('id');;
            $.ajax({
                url: '@Url.Action("DoiMatKhau", "Account")',
                type: 'GET',
                data: { id: Id },
                success: function (response) {
                    $('.account-info').html(response);
                },
                error: function () {
                    alert('Không thể tải sản phẩm.');
                }
            });

        });
     });

   
</script>