
@{
    ViewBag.Title = "ThongTinTaikhoan";
}

<div class="block-account">
    <h5 class="title-account">Thông tin tài khoản</h5>
    <p> <span style="color:#ef4339;"></span>&nbsp;</p>
    <p class="title-account-item">
        Tên: <a> @Model.name</a>
    </p>
    <p class="title-account-item">
        Họ và tên: <a> @Model.full_name</a>
    </p>
    <p class="title-account-item">
        Địa chỉ: <a> @Model.address</a>
    </p >
    <p class="title-account-item">
        Số điện thoại: <a> @Model.phone</a>
    </p>
    <p class="title-account-item">
        Email: <a> @Model.email</a>
    </p>

    
</div>

